html {
  width: 100%;
  height: 100%;
}

body {
  display: table;

  width: 100%;
  height: 100%;

  margin: 0;

  float: left; // Fix margin collapsing

  background-color: #b6b6b6;
  background-image: url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page {
  display: table-cell;

  width: 100%;
  height: 100%;

  vertical-align: middle;
}

.logo {
  width: 222px;
  height: 301px;

  margin: 80px auto 0;

  background-image: url('/images/logo.png');
}

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 80px;

  border: 1px solid #d2d2d2;
}

.text p {
  margin: 4px 0;

  font-size: 28px;
  line-height: 1.1em;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.text--grey {
  color: #595858;
}

.person--content {
  display: table;

  width: 80%;
  max-width: 768px;

  margin: 0 auto;
}

.person-image {
  display: table-cell;

  width: 400px;
  height: 500px;

  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

.person-buttons {
  display: table-cell;

  vertical-align: middle;
}

.button {
  display: block;

  width: 100%;
  max-width: 180px;

  margin: 25px;
  padding: 20px 50px;

  border: 1px solid white;
  border-radius: 3px;

  background: rgba(222,222,222,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 27%, rgba(246,246,246,1) 84%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(222,222,222,1)), color-stop(27%, rgba(222,222,222,1)), color-stop(84%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 27%, rgba(246,246,246,1) 84%, rgba(255,255,255,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 27%, rgba(246,246,246,1) 84%, rgba(255,255,255,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 27%, rgba(246,246,246,1) 84%, rgba(255,255,255,1) 100%);
  background: radial-gradient(ellipse at center, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 27%, rgba(246,246,246,1) 84%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ffffff', GradientType=1 );

  -webkit-box-shadow: 3px 3px 14px -1px #dedede;
  -moz-box-shadow: 3px 3px 14px -1px #dedede;
  box-shadow: 3px 3px 14px -1px #dedede;

  font-size: 18px;
  color: #4a4a4a;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  outline: none;
  cursor: pointer;
}

.button:active {
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 16%, rgba(222,222,222,1) 73%, rgba(222,222,222,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(16%, rgba(246,246,246,1)), color-stop(73%, rgba(222,222,222,1)), color-stop(100%, rgba(222,222,222,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 16%, rgba(222,222,222,1) 73%, rgba(222,222,222,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 16%, rgba(222,222,222,1) 73%, rgba(222,222,222,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 16%, rgba(222,222,222,1) 73%, rgba(222,222,222,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 16%, rgba(222,222,222,1) 73%, rgba(222,222,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede', GradientType=1 );
}

.hidden {
  display: none !important;
}

#js-camera {
  display: block;
  margin: 0 auto;
}

.button__take-photo {
  width: initial;
  max-width: none;

  margin-left: auto;
  margin-right: auto;
}

.crop-wrapper {
  width: 640px;

  margin: 0 auto;
}

.crop-controlls {
  display: table;

  width: 640px;

  margin: 0 auto;

  text-align: center;
}

.crop-controll {
  display: table-cell;
}

.crop-controll button {
  display: inline-block;

  margin-left: 0;
  margin-right: 0;
}

.page--thanks {
  background-image: url('/images/thanks.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.photo-list {
  max-width: 90%;
  min-width: 400px;

  margin-left: auto;
  margin-right: auto;

  list-style-type: none;
}

.photo-list--item {
  display: inline-block;

  margin: 10px;
}
