div {
    display: block;
    position: relative;
    margin: 0px auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    position:absolute;
    top:50%;
    margin-top:-265px;
    height: 530px;
    border: 0px solid black;
    width: 100%;
    display: block;
}

.content .image {
    height:450px;
    width: 450px;
}
.content .actions {
    height:80px;
    width:450px;
}

.camera-hover {
    position: absolute;
    z-index:10;
    height: 450px;
    width: 450px;
    right:0px;
    top:0px;

    background-image: url('/images/cam-ratio.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#js-camera {
    position: absolute;
    right:0px;
    top:0px;
    margin-right: 0px;
    width: 450px;
    height: 450px;
    z-index:5;
}

.person-image {
    display: block;
    height:450px;
    width:450px;
    float:right;
}

.image-after {
    overflow:hidden;
}




.hidden {
    display: none !important;
}

.button__take-photo,
.actions .button{
    position: relative;
    margin:20px auto;
    padding: 20px 0px;
    text-align:center;
    font-size:30px;
    max-width: 215px;
}

.actions .button {
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center right;
}

.actions .button.button__take-photo {
    padding-right: 0px;
}

.actions .js-person-back-btn {
    float:left;
    background-image: url('/images/cancel.png');
}

.actions .js-person-save-btn {
    float:right;
    background-image: url('/images/ok.png');
}
